* {
  box-sizing: border-box;
}

nav a{
  position: fixed;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  display: inline-block;
  margin-bottom: 10%;
  text-decoration: none;
  color: rgb(26, 22, 28);
  text-transform: uppercase;
}

nav {
  margin-top: 13%;
  margin-bottom: 15%;
}

body {
  margin: 0;
  text-align: center;
}

/* header */

header {
  position: absolute;
  margin-top: 1em;
}

/* img {
  max-width: 100%;
  height: auto;
} */
