/* Core Styles */

@font-face{
  font-family: QUARTZO; src: url(fonts/QUARTZO.ttf);
}


* {
  margin: 0;
  padding: 0;
  font-family: "QUARTZO";
  text-transform: uppercase;
  /* background: #e9b5d0; */
  color: #891e50;
  font-size: 1.5;
  text-align: center;
}

.fixedbar .fixedlogo {
  position: static;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2%;
  position: static;
  display: inline-block;
  vertical-align: middle;
}

.fixedbar a {
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
  font-family: "HKNovaR";
  font-size: 15px;
  font-weight: bold;
  margin-left: 2%;
}

.fixedbar a:hover {
  color: #93744c
}

.fixedbar {
  position: fixed;
  top:0;
  width: 100%;
  background: #ede8e8;
  z-index: 5;
  box-shadow: 0 4px 20px #616161;
  /* opacity: 0.5; */
}


img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
   -webkit-text-stroke: 2.5px #2a121e;
   font-size: 40px;

}

/* p {
  margin: 0;
  padding: 1em 0;
} */

/* Header showcase */

#showcase {
  position:  static;
  min-height: 450px;
  color: #fff;
  /* text-align: center; */
}

#showcase .logo {
  position: relative;
  display: inline-block;
  /* padding-top: 25%; */
  margin-top: 20%;
  margin-bottom: 24%;
  align-items: center;
  width: 40%;
  z-index: 2;
}

#showcase .bg-showcase {
  position: absolute;
  background: #dd90be;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  z-index: -1;
}

section {
  overflow: hidden;
}

#section-a {
  background: #e9b5d0;
}

.logoprocesstitle {
  margin-top: 20px;
  margin-bottom: 15px;
}

.process {
  margin-bottom: 50px;
  width: 90%;
  display: inline-block;
  align-items: center;
}

.finallogo {
  margin-bottom: 70px;
  width: 100%;
  display: inline-block;
  align-items: center;
}

#section-b {
  background: #dd90be;
}

#section-b img {
  margin-bottom: 30px;
}

/* .page-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 25px;
  text-transform: capitalize;
  color:  #dd90be;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  -webkit-text-stroke: 1px ##891e50;
} */

.webdesigntitle {
  margin-bottom: 50px;
}

#section-c {
  background: #e9b5d0;
}

#section-c img {
  margin-bottom: 30px;
}

#section-d {
  background: #dd90be;
}

.animationtitle {
  padding: 5;
}


/* MEDIA QUERIE */

@media (max-width: 700px) {

#showcase {
    position:  static;
    min-height: 0;
    color: #fff;
  }

h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
     -webkit-text-stroke: 1.5px #2a121e;
     font-size: 20px;
  }
}
